Repository MNG-cataclysm/Cataclysm-DDA, pull requests merged in 2022-05, with the labels that each got.

#1 Fix line endings
  data/json/items/fluff.json
  data/json/mapgen/chemist holdout/chemical lab.json
  data/json/mapgen/fortified scrap yard/fortified scrap yard.json
  data/json/mapgen/homeless_camp.json
  data/json/mapgen/nested/homeless missions nested.json
  data/json/mapgen/nested/logger missions nested.json
  data/json/mapgen/occupied lumber mill/occupied lumber mill.json
  data/json/mapgen/shelter.json
  data/json/monstergroups/misc.json
  data/json/npcs/cabin chemist/chemist effects.json
  data/json/npcs/cabin chemist/chemist missions.json
  data/json/npcs/cabin chemist/chemist npc.json
  data/json/npcs/cabin chemist/item groups.json
  data/json/npcs/isolated_road/isolated_road_cody_dialogue.json
  data/json/npcs/lumbermill employees/TALK lumbermill fabricate.json
  data/json/npcs/lumbermill employees/TALK lumbermill logger.json
  data/json/npcs/lumbermill employees/TALK lumbermill merchant.json
  data/json/npcs/lumbermill employees/lumbermill effects.json
  data/json/npcs/lumbermill employees/lumbermill employees.json
  data/json/npcs/lumbermill employees/lumbermill missions.json
  data/json/npcs/other/TALK shelter survivors.json
  data/json/npcs/other/homeless/TALK homeless survivor.json
  data/json/npcs/other/homeless/group camp/TALK homeless broker.json
  data/json/npcs/other/homeless/group camp/TALK homeless group survivors.json
  data/json/npcs/other/homeless/group camp/group camp missions.json
  data/json/npcs/other/homeless/group camp/homeless_broker_sell.json
  data/json/npcs/other/homeless/group camp/nested homeless missions.json
  data/json/npcs/other/shelter survivors.json
  data/json/npcs/refugee_center/surface_staff/Smokes/free_merchant_shopkeep_talk.json
  data/json/npcs/scrap trader/scrap trader missions.json
  data/json/npcs/scrap trader/scrap trader.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain.json
  data/json/overmap/overmap_terrain/overmap_terrain_military.json
  data/json/scenarios.json
  data/json/start_locations.json
Labels: [JSON], Missions, Spawn, Map / Mapgen, Scenarios

#3 Add underscores to file/folder names
  data/json/mapgen/chemist_holdout/chemical_lab.json
  data/json/mapgen/fortified_scrap_yard/fortified_scrap_yard.json
  data/json/mapgen/nested/homeless_missions_nested.json
  data/json/mapgen/nested/logger_missions_nested.json
  data/json/mapgen/occupied_lumber_mill/occupied_lumber_mill.json
  data/json/npcs/cabin_chemist/chemist_effects.json
  data/json/npcs/cabin_chemist/chemist_missions.json
  data/json/npcs/cabin_chemist/chemist_npc.json
  data/json/npcs/cabin_chemist/item_groups.json
  data/json/npcs/lumbermill_employees/TALK_lumbermill_fabricate.json
  data/json/npcs/lumbermill_employees/TALK_lumbermill_logger.json
  data/json/npcs/lumbermill_employees/TALK_lumbermill_merchant.json
  data/json/npcs/lumbermill_employees/lumbermill_effects.json
  data/json/npcs/lumbermill_employees/lumbermill_employees.json
  data/json/npcs/lumbermill_employees/lumbermill_missions.json
  data/json/npcs/other/TALK_shelter_survivors.json
  data/json/npcs/other/homeless/TALK_homeless_survivor.json
  data/json/npcs/other/homeless/group_camp/TALK_homeless_broker.json
  data/json/npcs/other/homeless/group_camp/TALK_homeless_group_survivors.json
  data/json/npcs/other/homeless/group_camp/group_camp_missions.json
  data/json/npcs/other/homeless/group_camp/homeless_broker_sell.json
  data/json/npcs/other/homeless/group_camp/nested_homeless_missions.json
  data/json/npcs/other/shelter_survivors.json
  data/json/npcs/scrap_trader/scrap_trader.json
  data/json/npcs/scrap_trader/scrap_trader_missions.json
Labels: [JSON], Missions, Map / Mapgen

#4 Shelter updates
  data/json/mapgen/shelter.json
  data/json/mapgen_palettes/shelter.json
  data/json/monstergroups/misc.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_military.json
  data/json/scenarios.json
  data/json/start_locations.json
Labels: [JSON], Spawn, Map / Mapgen, Scenarios
